body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #181225;
}

.white {
    color: white;
}

.orange {
    color: #EF4925
}

.bgorange {
    background-color: #EF4925;
}

.darkblue {
    color: #181225;
}

.bgdarkblue {
    background-color: #181225;
}

.btn-border {
    border: 2px solid white;
    border-radius: 25px;
}

.border {
    border: 2px solid white;
    border-radius: 10px;
}