body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #181225;
    height:100vh;
}

nav {
    border-bottom: 1px solid #EF4925;
}

.white {
    color: white;
}

.orange {
    color: #EF4925
}

.bgorange {
    background-color: #EF4925;
}

.darkblue {
    color: #181225;
}

.bgdarkblue {
    background-color: #181225;
}

.btn-border {
    border: 2px solid white;
    border-radius: 25px;
}

.border {
    border: 2px solid white;
    border-radius: 10px;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #EF4925;
}

/* selected link */
a:active {
    color: lightcoral;
}