<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.2.4.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src='../bootstrap/main.js'></script>
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8">
    <title>Sandbox - Workflow</title>
</head>
<body>
<nav th:insert="/partials/navbar :: navbar"></nav>

<h1 class="my-5 white" style="text-align: center"> Workflows </h1>
<h5 class="white" style="text-align: center">Filestack workflows allow you to apply conditional logic to achieve different results </h5>
<h5 class="white" style="text-align: center">not only can certain filetypes can be treated differently, but Filestack has easy to use built in utilities</h5>
<h5 class="white" style="text-align: center">that can achieve tasks ranging from virus detection to meta-tagging to file conversion, all in one place!</h5>

<button onclick="pickImg()" class="d-block bgorange white border mx-auto my-5 p-2">Launch Filepicker</button>

<div id="img_out" class="mx-auto"></div>

<script>
    const client = filestack.init('ArtLkbaeyQBmnbwBJRmmmz');
    function pickImg() {
        console.log("launching Filepicker");
        client.picker(options).open();
    }
    const options = {
        onUploadDone: logResult,
        accept: 'image/*',
        maxSize: 1024 * 1024 * 2,
        storeTo: {
            workflows: ["6a90c2c6-3e37-4a34-9d4f-2091646383a9"]
        }
    };

    function logResult(result) {
        console.log(result);
        let fileData = result.filesUploaded[0];
        let img = document.createElement("img");
        img.src = runWorkflow(fileData.url);
        let tag = document.getElementById("img_out");
        tag.append(img);
    }

    function transform(imgUrl, transformations){
        transformations = ["resize=width:300,height:300","sepia=tone:80"];
        let urlArray = [FILESTACK_PREFIX, FILESTACK_API_KEY].concat(transformations);
        urlArray.push(imgUrl);
        return urlArray.join('/');
    }

    function runWorkflow(imgUrl){
        let urlArray = [FILESTACK_WORKFLOW_PREFIX];
        urlArray.push(imgUrl);
        return urlArray.join('/');
    }
    const FILESTACK_API_KEY = 'ArtLkbaeyQBmnbwBJRmmmz';
    const FILESTACK_PREFIX = `https://cdn.filestackcontent.com`;
    const FILESTACK_WORKFLOW_PREFIX = `https://cdn.filestackcontent.com/ArtLkbaeyQBmnbwBJRmmmz/security=p:eyJjYWxsIjpbInJlYWQiLCJydW5Xb3JrZmxvdyJdLCJleHBpcnkiOjE1OTQ3ODkyMDB9=,s:1e6a3c60a5396c4c035348002efe213c687e8f7a6fde1a8baeb7fed897d55ea6/run_workflow=id:6a90c2c6-3e37-4a34-9d4f-2091646383a9`;




    // https://cdn.filestackcontent.com/security=p:eyJjYWxsIjpbInJ1bldvcmtmbG93Il19,s:8e37a9f539c5e236676d3495e670b00153d02c144d3c11a357c97cd7dfd3e4ff/run_workflow=id:6a90c2c6-3e37-4a34-9d4f-2091646383a9/<FILE_HANDLE>



    // const transformations = ["resize=width:300, height:300","monochrome"]
</script>
</body>
</html>